<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--引入数据库配置-->
    <context:property-placeholder location="classpath:db.properties" />

    <!--自动扫描-->
    <context:component-scan base-package="com.baizhi.cmfz">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
    </context:component-scan>

    <bean id="logAdvice" class="com.baizhi.cmfz.aop.LogAdvice"></bean>
    <!-- 使用aspectj 风格aop -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}?useUnicode=true&amp;characterEncoding=utf-8" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <!--sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.baizhi.cmfz.entity" />
        <property name="mapperLocations" value="classpath:com/baizhi/cmfz/mapper/*Mapper.xml" />
    </bean>

    <!--mapper自动扫描-->
    <bean id="scannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.baizhi.cmfz.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!--事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--注解式事务-->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!--
        shiro的过滤器工厂对象  负责权限的校验 处理请求的bean
    -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <!--登录页的URL地址-->
        <property name="loginUrl" value="/login.jsp"></property>
        <property name="unauthorizedUrl" value="/error.jsp"></property>
        <!--
           定义过滤器链的拦截规则
           过滤器：filter  请求和响应做预处理的
           Filter 接口 3个 doFilter(req,resp,chain)
                          chain.doFilter(req,resp);
       -->
        <property name="filterChainDefinitions">
            <!--
                 /main.jsp=anon
                 uri=过滤器简称
                 过滤器：anon | authc | user | logout | roles | perms |自定义的
            -->
            <value>
                /js/**=anon
                /getVcode=anon
                /admin/login=anon
                /css/**=anon
                /img/**=anon
                /themes/**=anon
                /index.jsp=anon
                /**=user
            </value>
        </property>
    </bean>
    <!--配置web环境下的安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--引用自定义的数据源类-->
        <property name="realms">
            <list>
                <ref bean="myRealm"></ref>
            </list>
        </property>
        <property name="rememberMeManager" ref="rememberMeManager"></property>
    </bean>
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="simpleCookie"></property>
    </bean>
    <bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <property name="name" value="rememberMe"></property>
        <property name="maxAge" value="604800"></property>
        <property name="path" value="/"></property>
    </bean>

    <bean id="myRealm" class="com.baizhi.cmfz.util.MyRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"></property>
    </bean>

    <!--声明凭证匹配器对象-->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"></property>
        <property name="hashIterations" value="1024"></property>
    </bean>


</beans>