<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.cmfz.dao.ArticleDao">

    <select id="selectArticleByPage" resultType="com.baizhi.cmfz.entity.Article">
        select * from t_article limit #{start},#{end}
    </select>

    <select id="count" resultType="int">

        select count(*) from t_article
    </select>

    <insert id="insertArticle">
        insert into t_article (articleId,articleName,articleContent,articleDate,articleStatus,masterId)
        values (#{articleId},#{articleName},#{articleContent},#{articleDate},#{articleStatus},#{masterId})
    </insert>

</mapper>