<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.cmfz.dao.LogDao">

    <select id="selectLogByPage" resultType="com.baizhi.cmfz.entity.Log">
        select * from t_log limit #{start},#{end}
    </select>

    <select id="count" resultType="int">
        select count(*) from t_log
    </select>

    <insert id="insertLog">
        insert into t_log values(#{logId},#{user},#{time},#{resource},#{action},#{message},#{result})
    </insert>
</mapper>